body {
	overflow: hidden;
	margin: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: #11bfb2;
	color: #fff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.character {
	height: 35vh;
	margin-top: 10vh;
}

.intro {
	font: 400 108px/108px 'Chicle', cursive;
	letter-spacing: 3.5px;
	margin: 0.75em auto 0.1em auto;
}

.title {
	font-family: 'Raleway Light', cursive;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 2em;
}

.intro-button {
    background-color: #FF811e;
}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 1824px) {
	.intro {
		font-size: 96px;
		line-height: 96px;
	}
}

@media only screen and (max-width: 1500px) {
	.intro {
		font-size: 84px;
		line-height: 84px;
	}

	.title {
		font-size: 24px;
	}
}

@media only screen and (max-width: 1280px) {
	.character {
		height: 35vh;
		margin-top: 10vh;
	}

	.intro {
		font-size: 72px;
		line-height: 72px;
	}

	.title {
		margin-bottom: 60px;
	}
}

@media only screen and (max-width: 1224px) {
	
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 768px) {
	.intro {
		font-size: 48px;
		line-height: 48px;
	}

	.character {
		height: 200px;
		margin-top: 100px;
	}

	.title {
		font-size: 18px;
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 480px) {

}